<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mcslocation">
    <!-- Normal Permissions 不需要运行时注册 -->
    <!--获取运营商信息，用于支持提供运营商信息相关的接口-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--用于访问wifi网络信息，wifi信息会用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!--这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位-->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <!-- 请求网络 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 不是SDK需要的权限，是示例中的后台唤醒定位需要的权限 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- 需要运行时注册的权限 -->
    <!--用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!--用于访问GPS定位-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!--用于提高GPS定位速度-->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <!--写入扩展存储，向扩展卡写入数据，用于写入缓存定位数据-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--读取缓存数据-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!--用于读取手机当前的状态-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 更改设置 -->
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <!-- 3.2.0版本增加 -->
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <application
        android:name=".application.MapBaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        tools:replace="android:icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--百度地图定位Start-->
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" >
            <intent-filter>
                <action android:name="com.baidu.location.service_v2.2" >
                </action>
            </intent-filter>
        </service>
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="3soh2bAY8ErCCHQbuubk9jHHiet7agmN" />  <!--http://lbsyun.baidu.com/apiconsole/key-->
        <!-- meta-data需要写在application中 -->
        <!--百度地图定位End-->

        <!-- leanCloud实时通信模块、推送（均需要加入以下声明） START -->
        <!-- 实时通信模块、推送都要使用 PushService -->
        <service android:name="com.avos.avoscloud.PushService"/>
        <receiver android:name="com.avos.avoscloud.AVBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.USER_PRESENT"/>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
        <!-- 实时通信模块、推送 END -->
        <!--排除在RecentTask中显示
                 不能使用android:process=":live"
                        android:enable="false"属性
                 -->
        <activity android:name=".activity.SinglePixelActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|navigation|keyboard"
            android:excludeFromRecents="true"
            android:finishOnTaskLaunch="false"
            android:launchMode="singleInstance"
            android:theme="@style/SingleActivityStyle"/>

        <!-- 反馈组件（需要加入以下声明）START -->
        <activity
            android:name="com.avos.avoscloud.feedback.ThreadActivity" >
        </activity>
        <!-- 反馈组件 END -->

        <!--注册Service-->
        <service android:name=".save.service.DaemonService"
            android:enabled="true"
            android:exported="true"
            android:process=":daemon_service"/>

        <service android:name=".save.service.CancelNoticeService"
            android:enabled="true"
            android:exported="true"
            android:process=":service"/>
        <service android:name=".save.service.PlayerMusicService"
            android:enabled="true"
            android:exported="true"
            android:process=":music_service"/>
        <service
            android:name=".save.service.AliveJobService"
            android:permission="android.permission.BIND_JOB_SERVICE"/>

        <!--接收系统广播接收器-->
        <!--<receiver android:name=".savereceiver.KeepAliveReceiver2">-->
            <!--&lt;!&ndash;设备重启广播&ndash;&gt;-->
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.BOOT_COMPLETED"/>-->
                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
            <!--&lt;!&ndash;安装或卸载广播&ndash;&gt;-->
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.PACKAGE_ADDED" />-->
                <!--<action android:name="android.intent.action.PACKAGE_REMOVED" />-->
                <!--<data android:scheme="package" />-->
            <!--</intent-filter>-->
            <!--&lt;!&ndash;解锁广播&ndash;&gt;-->
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.ACTION_USER_PRESENT"/>-->
            <!--</intent-filter>-->
            <!--&lt;!&ndash;存储卡挂载广播&ndash;&gt;-->
            <!--<intent-filter >-->
                <!--<action android:name="android.intent.action.MEDIA_MOUNTED"/>-->
                <!--<action android:name="android.intent.action.MEDIA_UNMOUNTED"/>-->
                <!--<data android:scheme="file">-->
                <!--</data>-->
            <!--</intent-filter>-->
            <!--&lt;!&ndash;网络状态广播&ndash;&gt;-->
            <!--<intent-filter>-->
                <!--<action android:name="android.net.conn.CONNECTIVITY_CHANGE" />-->
                <!--<action android:name="android.net.wifi.WIFI_STATE_CHANGED" />-->
                <!--<action android:name="android.net.wifi.STATE_CHANGE" />-->
            <!--</intent-filter>-->
        <!--</receiver>-->

        <!-- 前台服务 -->
        <service
            android:name="com.mcslocation.save.frontService"
            android:enabled="true"
            android:label="@string/app_name"
            android:persistent="true"
            android:priority="1001"
            android:process=":process1">
        </service>
        <receiver android:name="com.mcslocation.save.frontReceiver1" android:process=":process1"/>
        <service android:name="com.mcslocation.save.frontService2"
            android:enabled="true"
            android:process=":process2"/>
        <receiver android:name="com.mcslocation.save.frontReceiver2" android:process=":process2"/>

        <!--灰色保活-->
        <!--<receiver
            android:name="com.liuyingjie.maplocation.graysave.WakeReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.wake.gray" />
            </intent-filter>
        </receiver>
        <service
            android:name="com.liuyingjie.maplocation.graysave.GrayService"
            android:enabled="true"
            android:exported="false"
            android:process=":gray" />
        <service
            android:name="com.liuyingjie.maplocation.graysave.GrayService$GrayInnerService"
            android:enabled="true"
            android:exported="false"
            android:process=":gray" />
        <service
            android:name="com.liuyingjie.maplocation.graysave.WakeReceiver$WakeNotifyService"
            android:enabled="true"
            android:exported="false" />

        <service
            android:name="com.liuyingjie.maplocation.graysave.WakeReceiver$WakeGrayInnerService"
            android:enabled="true"
            android:exported="false" />-->
    </application>

</manifest>